[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
ipykernel = "*"
gdown = "*"
sentence-transformers = "*"
seaborn = "*"
tqdm = "*"
ray = {extras = ["tune"], version = "*"}
numba = "*"
ipywidgets = "*"
nltk = "*"
torchtext = "*"
jupyter = "*"
parso = "==0.7.1"
pipdeptree = "*"
jedi = "==0.17.2"
jupyter-contrib-nbextensions = "*"
ftfy = "*"
langdetect = "*"
cloudpickle = "*"
networkx = "*"
pip = "*"
setuptools = "*"
wheel = "*"
pytest = "*"
jupyter_nbextensions_configurator = "*"
Cython = ">=0.25"
stanford-openie = "*"
truecase = "*"
fasttext = "*"
sqlalchemy = "*"
py2neo = "*"
textblob = "*"
lxml = "*"
transformers = "*"
# torch = {version = "==1.7.1+cu110", file = "https://download.pytorch.org/whl/cu110/torch-1.7.1%2Bcu110-cp38-cp38-linux_x86_64.whl"}
# torchvision = {version = "==0.8.2+cu110", file = "https://download.pytorch.org/whl/cu110/torchvision-0.8.2%2Bcu110-cp38-cp38-win_amd64.whl"}
torchvision = "*"
dill = "*"
ipympl = "*"
jupyterlab = "*"
scattertext = "*"
spacy = "*"
pytextrank = "*"
empath = "*"
pyforest = "*"
kaggle = "*"
kaleido = "*"
tika = "*"
scikit-fda = "*"
tables = "*"
umap-learn = "*"
hdbscan = "*"
cleanlab = "*"
numpy = "==1.20.0"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
