[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "*"
ipykernel = "*"
spacy = {extras = ["cuda101"], version = "*"}
gdown = "*"
sentence-transformers = "*"
seaborn = "*"
swifter = "*"
tqdm = "*"
ray = {extras = ["tune"], version = "*"}
numba = "*"
ipywidgets = "*"
nltk = "*"
torchtext = "*"
jupyter = "*"
parso = "==0.7.1"
pipdeptree = "*"
jedi = "==0.17.2"
jupyter-nbextensions-configurator = "*"
jupyter-contrib-nbextensions = "*"
ftfy = "*"
langdetect = "*"
cloudpickle = "*"

[dev-packages]

[requires]
python_version = "3.8"
