[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
tensorflow = "*"
ipykernel = "*"
spacy = "<3.0.0,>=2.1.0"
gdown = "*"
sentence-transformers = "*"
seaborn = "*"
swifter = "*"
tqdm = "*"
ray = {extras = ["tune"], version = "*"}
numba = "*"
ipywidgets = "*"
nltk = "*"
torchtext = "*"
jupyter = "*"
parso = "==0.7.1"
pipdeptree = "*"
jedi = "==0.17.2"
jupyter-contrib-nbextensions = "*"
ftfy = "*"
langdetect = "*"
cloudpickle = "*"
networkx = "*"
pip = "*"
setuptools = "*"
wheel = "*"
pytest = "*"
jupyter_nbextensions_configurator = "*"
Cython = ">=0.25"
stanford-openie = "*"
truecase = "*"
fasttext = "*"
sqlalchemy = "*"
py2neo = "*"
textblob = "*"
keras = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
